
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  width: 500px;
  height:  500px;
  margin: 10px auto;
  padding: 20px;
  }

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

}

/* image- need to align with text and to make smaller */
.hd h1 {
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: .5cm;
    border: 30px ;

  }


.hd img{
    left:210px;
    top:20px;
    bottom: 100px ;
    width:100px;
}

/* formating text area*/

#form-section{
  height: 50%;
  display: flex;
  justify-content:center;
  flex-direction: column;
  margin-bottom: 20px;
  top:200px;
  bottom: 200px ;
  width: 100%;
}


#atext{
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  
}

/* this section is for the add button*/
.btn{
  background-color: black;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}

.btn:hover{
  background-color: #dcdc; 
  color: white;
}